/*@font-face {
	font-family: 'gothic';
	src: url('./gothic.eot');
	src: local('gothic'), url('gothic.woff') format('woff'), url('./gothic.ttf') format('truetype');
}
.fontsforweb_fontid_9785 {
	font-family: 'gothic' !important;
}*/
th,td{
    border: 1px solid;
}

.no-border th,.no-border td{
    border: 0px solid;

}
.no-border{
    border: none !important;
}
th{
background: #cdcdcd;
}
.no-border th{
    background: transparent;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.pdf-table{
    border-collapse: collapse !important;
}
.order-form td{
	padding: 5px;
	/*vertical-align: middle;*/
	/*padding: 0;*/
}
.order-book-form tbody td{
	padding-left: 5px;
	padding-bottom: 0;
}


table .no-border{
	border: none !important;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.light-font{
    font-weight: normal;
}
.background-light{
	background: #eeeeee;
}
.text-bold{
    font-weight: bold;
}
.font6{
	font-size: 6px;

}
.font7{
	margin:0;
  	padding:0;
	font-size: 7px;
	
}
.font8{
	font-size: 8px;
}
.font9{
	font-size: 9px;
}
.font10{
	font-size: 10px;
}
.font11{
	font-size: 11px;
}
.font12{
	font-size: 12px;
}
.font13{
	font-size: 13px;
}
.font14{
	font-size: 14px;
}
.font15{
	font-size: 15px;
}
.font16{
	font-size: 16px;
}
.font17{
	font-size: 17px;
}
.font18{
	font-size: 18px;
}
.font19{
	font-size: 19px;
}
.font20{
	font-size: 20px;
}
.font21{
	font-size: 21px;
}
.font22{
	font-size: 22px;
}
.font23{
	font-size: 23px;
}
.font24{
	font-size: 24px;
}
h3,h4{
    line-height:1px;
}

.repair{
	color: #54303E !important;
}
.repairing-form tr th,
.repairing-form tr td{
	color: #54303E !important;	
	padding: 3px;
}

.repairing-form tr th{
	background: none;
}